*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
:root{
    --text-color:#fff;
    --bg-color:#001625;
    --blue-color:#14a1e8;
    --item-bg-color:#00263e;
    ---second-item-bg-color:#002e4b;
    ---section-color:#002036;
}
html{
    font-size: 62.5%;

}
section{
    background-color: var(---section-color);
    min-height: 100vh;
    padding: 0 8%;
}
header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    font-size: 1.8rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 12rem;
    z-index: 99;
    background-color: var(--bg-color);


}
header #menu{
    display: none;
}
header nav a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2.2rem;
    margin-left:4rem;
    transition: .2s;
}
header nav a:hover,
header nav a .active
{
    color:var(--blue-color);
}
.home{
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden;
    width: 100%;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;

}
.home .content-box {
    width:50%;
    text-align: start;
    display: flex;
    align-items: center;
    z-index: 3;

}
.home .text-box h1{
    font-size: 3.8rem;
    
}
.home .text-box .skills{
    color:var(--blue-color);

}
.home .text-box p{
    font-size: 1.4rem;
    margin: 2.5rem ;
}
.home .content-box  .icon-box{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    height: 20rem;
}
.home .content-box  .icon-box i{
    border: .2rem solid var(--blue-color);
    border-radius: 50%;
    font-size: 2.5rem;
    padding: .6rem;
    color:var(--blue-color);
    cursor: pointer;
    transition: .2s;

}
.home .content-box  .icon-box i:hover{
   color: var(--text-color);
   background-color: var(--blue-color);
   box-shadow: 0 0 1.5rem var(--blue-color) ;

    
}
.btn{
    color: var(--text-color);
    width: 17rem; 
    height: 4.3rem;
    border: .2rem solid var(--blue-color);
    background-color: var(--blue-color);
    font-size: 2rem;
    border-radius: 2.2rem;
    cursor: pointer;
    transition: .2s;

}
.btn:hover{
    box-shadow: 0 0 1.5rem var(--blue-color);
}
.img{
    width:24vw;
     border-radius: 50%;
    
}
.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:8rem;
}
.title{
    font-size: 7rem;
    color: var(--text-color);
}
.title span{
    color: var(--blue-color);
}
.about .text-box{
    width: 50%;

}
.about .text-box h1:nth-child(2){
    color: var(--blue-color);
    font-size: 4rem;
}
.about .text-box p{
    font-size: 1.5rem;
    margin: 2.5rem 0;
    color: var(--text-color);

}
.service{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
 .service .card-box{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 2rem;
   
}
.service .card-box .card
{
    flex:1 1 30rem;
    height:43rem;
    background-color: var(--item-bg-color);
    color:var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius:1.5rem;
    padding: 0 2rem;
    gap: 2.5rem;
    transition: .2s;

}

.service .card-box .card:hover{
    transform: scale(1.03);
    background-color: var(---second-item-bg-color);
}
.service .card-box .card h1{
    font-size: 3rem;
}
.service .card-box .card i{
    font-size: 8rem;
}
.service .card-box .card p{
    font-size: 1.3rem;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 27%;
}
.contact .form{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;


}
.contact .input-box{
    width: 100%;
    height: 5.5rem;
    display: flex;
    justify-content: center;
    gap: 1.2rem;
}
.contact .input-box input{
    width: 50%;
    height: 100%;
    padding: 2%;


}
.contact .form textarea{
    width: 100%;
    height: 28rem;
    padding: 2%;
    display: block;
    font-size: 1.6rem;
    resize: none;
}
.contact .form textarea,
.contact .form .input-box input{
    background-color: var(---second-item-bg-color);
    border: none;
    outline: none;
    color: var(--text-color);
    border-radius: .5rem;
}
.contact .form textarea::placeholder,
.contact .form .input-box input::placeholder
{
    color: var(--text-color);
    font-size: 1.6rem;

}
.contact input[type="submit"]{
    width: 21rem;
    margin-top: .8rem;
}
@media(max-width:1200px)
{
   html{
    font-size: 56%;
   }
   .contact{
    padding: 0 22%;
   }
}
@media(max-width:1020px)
{
   header{
    padding: 1.5rem 5rem;
   }
   section{
    padding: 0 5%;
   }
  
}
@media(max-width:850px)
{
    .about{
        flex-direction: column-reverse;
        gap: 1rem;
        padding: 12rem 0;
    }
    .about .text-box{
        width: 70%;
    }
    header #menu{
        display: block;
        font-size: 4rem;

    }
    header nav{
        position: absolute;
        left: 0;
        top: 100%;
        background-color: var(--bg-color);
        width: 100%;
        padding: .5rem 5rem;
        box-shadow: 0 .8rem 1rem rgba(0,0,0,.5);
        display: none;
    }
    header .active{
        display: block;

    }
    header nav a
    {
        display: block;
        margin: 3rem 0;
        font-size: 2.5rem;

    }
    @media(max-width:750px)
    {
        html{
            font-size: 50%;
        }
        .contact{
            padding: 0 5%;
        }
        .contact .input-box{
            height: 7rem;
        }
        .contact .form .btn{
            width: 25rem;
            height: 5.5rem;
            border-radius: 6rem;
            font-size: 2.5rem;



        }
    }
    @media(max-width:400px)
    {
        html{
            font-size: 45%;

        }
        .contact .input-box{
            height: 15rem;
            flex-wrap: wrap;
            margin-bottom: .8rem;

        }
        .contact .input-box input{
             width: 100%;
             height: 50%;
        }
        .contact .input-box input,
        .contact .form textarea{
            padding: 5%;
        }
        .contact .input-box input::placeholder,
        .contact .form textarea::placeholder{
            font-size: 2rem;
        }
    }
}